body{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-color: #2c2e43;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.flex-container{
    display: flex;
}
/* this raea if for the hero top of the page*/
.hero{
    background-color: #ffd523;
    margin: 0;
    margin-bottom: 7em;
    padding: 2em;
    flex-direction: column;
    box-shadow: 0 0 2rem;

}

#Heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;
    /*padding-left: 3em */
    text-shadow: 2rem;
    
}
#sub-heading{
    font-style: italic;
}

/*below here is all the main page styles*/
.choice-box{
    align-items: center;
    /*gap: 19em;*/
    color: #B2B1B9;
    margin-top: 6em;
    text-shadow: 0 0 1rem #ffd523;
    flex-direction: column;
}
.awnser{
    justify-self: flex-end;
    font-size: 35px;
    font-weight: 1000;
    margin-bottom: 2em;
}

.score{
    margin-top: 6em ;
    margin-right: 10px;
    gap: 6em;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    color: #ffd523;
}
.test-box{
    padding: 0;
    margin: 0;
    padding-top: 3em ;
    justify-content: center;
    align-items: center;
}
.total-winner-box{
    width: 8em;
    height: 5em;
    background-color: #B2B1B9;
    align-content: center;
    justify-content: center;
    justify-self: center;
    margin-right: 20px;
    border-radius: 8px;
    border:6px #595260 double;
    text-align: center;
    color: black;
    padding-top: 5px;
    padding-bottom: 0;
    box-shadow: 0 0 0.7rem #000;
    
}
.player-score,
.computer-score{
    align-self: flex-end;
    justify-self: flex-end;
}
.player-score{
    padding-left: 24px;
}
/*this area if for the operatios and user inputs*/
ul{
    
    list-style: none;
    justify-content: center;
    gap: 7em;
    margin-right: 10px;

}

button{
    color: rgb(20, 120, 170);
    border: 3px #595260 solid;
    background-color: #B2B1B9;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    padding: 6px;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.05s ease;
    box-shadow: 0 0 1rem black;
}
/* this area is for javascript conditionals*/
.button-down{
    transform: scale(0.8);
    

}
.hover{
    background-color: #2c2e43;
}

